@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: red;
}

.allproducts{
  border:  1px solid gray;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.allproducts:hover{
  transform: scale(1.1);
}